<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Poshalzi</title>
  </head>
  <body>

    <div class="container-fluid p-4">

        <app-product-card></app-product-card>

        <div class="row mb-4">
            <div class="col-12" style="height: 85vh; background-color: peachpuff;">

                

            </div>
        </div>
    </div>


  </body>
</html>
